* {
    font-family: 'Archivo', sans-serif;
    padding: 0;
    margin: 0;
}

p {
    color: #555;
    font-size: 13pt;
}

 /*  About Me Section    */


 .About_Me {
    display: flex;
    justify-content: space-between;
    padding: 21px;
    padding-top: 50px;
    margin-top: 50px;
    background-color: #174655;
}

.left_column {
    width: 40%;
    box-sizing: border-box;
}

.left_column img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.right_column {
    width: 55%;
    box-sizing: border-box;
    padding-top: 80px;
}

.right_column h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 30px;
}

.right_column #About_Paragraph {
    color: #ffffff;
    line-height: 1.3;
 
    
}

.hobbies_box {
    margin-top: 50px;
    padding: 10px;

}

.hobbies_box h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.hobbies_row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobby_icon {
    width: calc(20% - 10px);
    margin-bottom: 10px;
}

.hobby_image {
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 5px;
}

.hobby_paragraph {
    color: #555;
    font-size: 14px;
    text-align: center;
}


/*  My Services Section  */

.My_Service_Frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
    padding: 50px;
}

#My_Services h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
}

.Service_Card, .Service_Card1, .Service_Card2, .Service_Card3 {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #333;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.box-header {
    font-size: 18px;
}

.image-placeholder, .Idation_img, .Design_system_img, .Interaction_Design_img {
    width: 150px; /* Set the width of your image placeholder */
    height: 150px; /* Set the height of your image placeholder */
    background-color: deeppink;
    margin: 20px auto;
}
.Idation_img {
    background-image: url(Images/ideation_still.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.Design_system_img{
    background-image: url(Images/Design_Systems_still.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.Interaction_Design_img {
    background-image: url(Images/interaction_Design_still.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

}