* {
    font-family: 'Archivo', sans-serif;
    padding: 0;
    margin: 0;
}

 /*  About Me Section    */


 .About_Me {
    display: flex;
    justify-content: space-between;
    padding: 21px;
    padding-top: 50px;
    margin-top: 50px;
    background-color: #174655;
}

.left_column {
    width: 40%;
    box-sizing: border-box;
}

.left_column img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.right_column {
    width: 55%;
    box-sizing: border-box;
}

.right_column h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 30px;
}

.right_column p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
}

.hobbies_box {
    margin-top: 20px;
    padding: 10px;
}

.hobbies_box h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.hobbies_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobby_icon {
    width: calc(20% - 10px); /* Adjust width based on your spacing preference */
    margin-bottom: 10px;
}

.hobby_image {
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 5px;
}

.hobby_paragraph {
    color: #555;
    font-size: 14px;
    text-align: center;
}


/*  My Services Section  */

.My_services {
    text-align: center;
    padding: 50px;
}

.My_services h1 {
    color: #333;
    font-size: 36px;
    padding-bottom: 40px;
}

.services_box {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #333;
    margin: 10px;
    padding: 20px;
}

.box-header {
    font-size: 18pt;
}

.placeholder-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

p {
    color: #555;
    font-size: 14pt;
}